<script src="vue.js"></script>

<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient"> ({{i}}) {{ ingredient }} </li>
    </ul>
    <button @click="ingredients.push('spices')">Add New</button>
    <hr>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</div>
        </li>
    </ul>
    <span v-for="n in 10">{{ n }}</span>
    <hr>
    <template v-for="(ingredient, index) in ingredients">
        <h1>{{ingredient}}</h1>
        <p>{{index}}</p>
    </template>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
            ]
        }
    });

    //v-for loops (like a for loop) through an array and replicate the elements on which v-for sits as often as needed.
    //The order is important in v for: the first one is the value of the element where you're currently iterating, the second one is the index
    //when looping through objects, when using parenthesis to add "arguments", the second argument name refers to the property of the object you're looping through, and the third one refers to the index
</script>